*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
      font-family: "Fraunces", serif;
       
   

}

.parent{
    
    height:100vh;
    max-width: 100vw;
      overflow: hidden;
    
}

.sidebox{
    width: 20%;
    height: 100%;
   background-color:rgb(20, 125, 76);
   display: inline-block;
    vertical-align: top;
    text-align: center;

   
}
.sidebox a{
    display: block;
    text-decoration: none;
       margin-top: 20px;
     color: rgba(255, 255, 255, 0.588);
    
   
   
}
.sidebox a:hover{
    color: rgb(247, 250, 249);

}
.sidebox img{
    
     height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 23%;
     outline: 10px solid white;
}

.main{
     width: 79%;
    height: 100%;
   /* background-color:rgb(218, 219, 220); */
   display: inline-block;
   overflow: auto;
   padding: 20px;
    /* overflow-y: auto; */
  
  
}

.main h1{
margin-top: 10%;
margin-left: 17px;
font-size: 3em;
color: rgb(67, 66, 66);

}

.main h1 span{
    color: rgb(20, 125, 76);
}

.emailhead{
      margin-left: 10px;
     
           font-weight: 20px;
       text-transform: uppercase;
       color: gray;
       padding: 10px 0 0 0 ;
       
      
}
.emailhead span{
     color:rgb(20, 125, 76) ;
     text-decoration: underline solid  rgb(20, 125, 76);

}


.para {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1em;
     letter-spacing: 1.1px; 
     margin-left: 20px;
}


.icon{
    height: 60px;
    width: 60px;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    text-align: center;
    margin-top: 5%;
    padding-top: 1px;
    display: inline-block;
   margin-right: 10px;
  border-bottom: 2px solid gray;
}

.icn{
    font-size: 33px;
    margin-top: 22%;
    color: white;
    
}

.icon:hover{
    background-color: rgb(20, 125, 76);
}

.border{
    margin: 7em 0 0 0;
   border: 0.8px solid  rgb(186, 186, 186);
}


.eheads{
    color: black;
    margin-bottom: 1em;
    text-transform: uppercase;
    
}


 .h3{
  
    text-transform: uppercase;
    margin-left: 26px;
    display: inline;
}

.spn1 {
    display: inline;
    margin-left: 47%;
    color:rgb(20, 125, 76) ;
}


.h5{
color: rgb(126, 125, 125);
 text-transform: uppercase;
  margin-left: 26px;
  

}



.parabottem{
    margin-bottom: 3em;
   
}



.web{

 text-transform: uppercase;
 margin-bottom: 0; 
 margin-left: 20px;

}

.margin{
    margin-top: 10%;
}

.border02{
       margin: 7em 0 0 0;
    border: 0.8px solid  rgb(186, 186, 186);
}

.spn11{
margin-left: 69%;
color:rgb(20, 125, 76) ;
}
.spn2{
margin-left: 30%;
color:rgb(20, 125, 76) ;
}
.margintop{
    margin-top: 10% !important;
}
.marginlef{
    margin-left: 60px;
}

.border03{
       margin: 7em 0 0 0;
    border: 0.8px solid  rgb(186, 186, 186);
}

.top{
    margin-top: 10px;
}

.imgbox{
    display: block;
    padding: 20px 10px 0px 30px;
    margin-top: 18px;

}

.imgg{
height: 80px;
    width: 80px;
   margin-bottom: 7px;
    
}

.img{
height: 80px;
    width: 80px;
    margin-top: 10px

}

.jsimg{
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    margin-left: 7px;
}

.angimg{
   width: 60px;
    height: 60px;
    margin-bottom: 12px;
    margin-left: 18px; 
}

.reactimg{
     width: 60px;
    height: 60px;
    margin-bottom: 16px;
    margin-left: 10px; 
}

.sassimg{
      width: 60px;
    height: 60px;
    margin-bottom: 16px;
    margin-left: 20px;
}

.wordimg{
  width: 70px;
    height: 70px;
    margin-bottom: 16px;
    margin-left: -8px;
} 

.gulpimg{
width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: -10px;
}

.npmimg{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    
}

.margintopp{
    margin-top: 8%;
}

.unorderlist{
    list-style: none;
    margin-top: 10%;
    color: grey;
    margin-left: 20px;
    text-transform: uppercase;
}

.border03{
       margin: 7em 0 0 0;
    border: 0.8px solid  rgb(186, 186, 186);
}


.border04{
       margin: 7em 0 0 0;
    border: 0.8px solid  rgb(186, 186, 186);
}

/* last awards section */

ol{
list-style: none;
margin-left: 20px;
color: gray;

}
